<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Frog Blog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
  </head>
  <body>
    <div class="top-banner">
        <b>Collection of Immaculate Frog Themed Blogs</b>
    </div>
    <header>
      <nav>
        <a href="{{ url_for('froghome') }}">Home</a> |
        <a href="{{ url_for('add_blog') }}">Add Blog</a> |
        <a href="{{ url_for('add_user') }}">Add User</a> |
        <a href="{{ url_for('display_by_blog') }}">View Blog Posts</a> |
        <a href="{{ url_for('portfolio') }}">My Portfolio</a>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, msg in messages %}
      <p class="{{ category }}">{{ msg }}</p>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
